services:
  - type: web
    name: agenda-souterrain-api
    runtime: docker
    dockerfilePath: ./backend/Dockerfile
    dockerContext: ./backend
    plan: free
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: SECRET_KEY
        generateValue: true
      - key: FRONTEND_URL
        sync: false
      - key: ADMIN_EMAIL
        sync: false
      - key: RESEND_API_KEY
        sync: false
      - key: EMAIL_FROM
        sync: false
      - key: TRANSLATION_BACKEND
        value: mymemory
      - key: SELF_PING_URL
        sync: false
      - key: LIBRETRANSLATE_URL
        value: https://libretranslate.com
      - key: STORAGE_BACKEND
        value: r2
      - key: R2_ENDPOINT
        sync: false
      - key: R2_ACCESS_KEY
        sync: false
      - key: R2_SECRET_KEY
        sync: false
      - key: R2_BUCKET
        sync: false
      - key: R2_PUBLIC_URL
        sync: false
      - key: COOKIE_DOMAIN
        value: .agenda-souterrain.com
      - key: COOKIE_SECURE
        value: "true"
